@import '../styles/variables.scss';

@keyframes scale {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 7dvh 7dvh;

    .footer-icons {
        margin-bottom: 4dvh;
        
        i {
            margin-right: 3dvh;
            transition: color .9s;
        }

        i:hover {
            color: $pink;
            animation: scale 1s infinite alternate;
        }
    }

    .footer-logo {
        margin-bottom: 4dvh;
    }

    .footer-info {
        margin-bottom: 4dvh;
    }
}