@import '../styles/variables.scss';

main {
    max-width: 1240px;
    margin: auto;

    .about {
        display: flex;
        margin-top: 10dvh;

        div {
            flex: 1;
        }

        .text {
            text-align: center;
            margin-right: 4dvh;

            h2 {
                margin-bottom: 3dvh;
            }

            p {
                line-height: 2rem;
            }
        }

        img {
            filter: brightness(50%);
            transition: transform .9s;
            border-radius: 2dvh;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    .services {
        h2 {
            text-align: center;
            margin: 5dvh 5dvh;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr;
    
            .card {
                display: flex;
                gap: 3dvh;
                padding: 1dvh 1dvh;
                box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
                overflow: hidden;
    
                .card-img {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 1s;
                        filter: brightness(50%);
                        padding-bottom: 3dvh;
                    }
    
                    img:hover {
                        transform: scale(1.1);
                    }
                }
    
                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-left: 3dvh;
                    text-align: center;
    
                    .card-title {
                        color: $white;
                        font-family: 'Poppins', serif;
                        font-weight: 600;
                        font-size: 1.5rem;
                        margin: 3dvh 3dvh;
                        text-align: center;
                    }
    
                    .card-description {
                        font-family: 'Poppins', serif;
                        font-size: 1rem;
                        line-height: 2rem;
                        color: $white;
                    }
    
                    .card-btn {
                        margin-right: 2dvh;
                        width: 17dvh;
                        height: 5dvh;
                        background-color: transparent;
                        border: 1px solid $white;
                        border-radius: 1dvh;
                        transition: border 1s;
                        margin-top: 3dvh;
                    }
    
                    .card-btn:hover {
                        border: 2px solid $pink;
                    }
                }
            }
    
            div {
                flex: 1;
            }
        }
    }

    .team {
        h2 {
            text-align: center;
            margin: 5dvh 5dvh;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 3dvh;

            .card {
                display: flex;
                flex-direction: column;
                text-align: center;
                box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);

                img {
                    border-radius: 2dvh;
                    filter: brightness(50%);
                    transition: transform 1s;
                }

                img:hover {
                    transform: rotate(2deg);
                }
                
                .card-name {
                    font-size: 1.3rem;
                    margin: 3dvh 3dvh;
                }

                .card-description {
                    color: $white;
                    text-align: center;
                    line-height: 2rem;
                    font-family: 'Poppins', serif;
                    font-size: 1rem;
                }
            }
        }
    }

    .contact-container {
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        margin: auto;
        padding: 15dvh 5dvh;
        border-bottom: 1px solid $white;

        div {
            flex: 1;
        }

        .text {
            display: flex;
            flex-direction: column;
            position: relative;

            img {
                display: none;
            }

            h2 {
                color: $white;
                font-weight: 600;
                margin-bottom: 5dvh;
            }

            p {
                font-size: 1.3rem;
                color: $white;
                line-height: 2rem;
            }

            div {
                position: absolute;
                left: -50dvh;
                top: 40dvh;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .name,
            .email,
            .message {
                display: flex;

                p {
                    margin-top: 2dvh;
                    margin-right: 2dvh;
                    color: $white;
                    text-align: center;
                }

                #text,
                #email,
                #msg {
                    width: 70dvh;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid $white;
                    color: $white;
                    font-family: 'Poppins', serif;
                }

                #text,
                #email {
                    height: 10dvh;
                }

                #msg {
                    height: 30dvh;
                }
            }

            .send-msg-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                .submit-btn {
                    margin-top: 3dvh;
                    color: $white;
                    background-color: transparent;
                    border: none;
                    transition: color .8s, border-bottom .8s;
                }

                .submit-btn:hover {
                    color: $green;
                    border-bottom: 2px solid $green;
                }
            }
        }
    }

    .location {
        h2 {
            text-align: center;
            margin: 5dvh 5dvh;
        }
    }
}