@import '../styles/variables.scss';

main {
    max-width: 1240px;
    margin: auto;

    .about {
        display: flex;
        margin-top: 10dvh;

        div {
            flex: 1;
        }

        .text {
            text-align: center;
            margin-right: 4dvh;
            
            h2 {
                margin-bottom: 3dvh;
            }

            p {
                line-height: 2rem;
            }
        }

        img {
            filter: brightness(50%);
            transition: transform .9s;
            border-radius: 2dvh;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}