@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes scale {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 7dvh 7dvh;
}
footer .footer-icons {
  margin-bottom: 4dvh;
}
footer .footer-icons i {
  margin-right: 3dvh;
  transition: color 0.9s;
}
footer .footer-icons i:hover {
  color: #eba39f;
  animation: scale 1s infinite alternate;
}
footer .footer-logo {
  margin-bottom: 4dvh;
}
footer .footer-info {
  margin-bottom: 4dvh;
}

@keyframes scale {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/bg.jpg");
  height: 60%;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1240px;
  margin: auto;
  padding: 5dvh;
}
header nav .nav-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1dvh;
}
header nav .nav-icons i {
  margin-right: 2dvh;
  transition: color 0.9s;
  transition: animation 0.4s;
}
header nav .nav-icons i:hover {
  color: #eba39f;
  animation: scale 1s infinite alternate;
}
header nav .nav-logo {
  margin-bottom: 1dvh;
}
header nav .nav-logo i {
  font-size: 2rem;
}
header nav .nav-logo span {
  font-family: "Poppins", serif;
  font-size: 2rem;
}
header nav button {
  background-color: transparent;
  width: 25dvh;
  height: 6dvh;
  border-radius: 2dvh;
  border: 1px solid #F5F5F5;
  transition: border 0.9s;
  margin-bottom: 1dvh;
}
header nav button:hover {
  border: 2px solid #eba39f;
}
header h1 {
  text-align: center;
  margin-top: 4dvh;
}
header div {
  width: 35dvh;
  height: 5dvh;
  margin: 0 auto;
  padding-top: 2dvh;
}
header div .hour {
  font-family: "Poppins", serif;
  font-size: 1rem;
  color: #F5F5F5;
  background-color: rgb(61, 158, 61);
  border-radius: 1dvh;
  text-align: center;
}

main {
  max-width: 1240px;
  margin: auto;
  padding: 1dvh 1dvh;
}
main .about {
  display: flex;
  flex-direction: column;
  margin-top: 10dvh;
}
main .about div {
  flex: 1;
}
main .about .text {
  text-align: center;
  margin-right: 4dvh;
}
main .about .text h2 {
  margin-bottom: 3dvh;
}
main .about .text p {
  line-height: 2rem;
}
main .about img {
  filter: brightness(50%);
  transition: transform 0.9s;
  border-radius: 2dvh;
}
main .about img:hover {
  transform: scale(1.1);
}
main .services h2 {
  text-align: center;
  margin: 5dvh 5dvh;
}
main .services .grid {
  display: grid;
  grid-template-columns: 1fr;
}
main .services .grid .card {
  display: flex;
  flex-direction: column;
  gap: 3dvh;
  padding: 1dvh 1dvh;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}
main .services .grid .card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s;
  filter: brightness(50%);
  padding-bottom: 3dvh;
}
main .services .grid .card .card-img img:hover {
  transform: scale(1.1);
}
main .services .grid .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3dvh;
  text-align: center;
}
main .services .grid .card .card-body .card-title {
  color: #F5F5F5;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 3dvh 3dvh;
  text-align: center;
}
main .services .grid .card .card-body .card-description {
  font-family: "Poppins", serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #F5F5F5;
}
main .services .grid .card .card-body .card-btn {
  margin-right: 2dvh;
  width: 17dvh;
  height: 5dvh;
  background-color: transparent;
  border: 1px solid #F5F5F5;
  border-radius: 1dvh;
  transition: border 1s;
  margin-top: 3dvh;
}
main .services .grid .card .card-body .card-btn:hover {
  border: 2px solid #eba39f;
}
main .services .grid div {
  flex: 1;
}
main .team h2 {
  text-align: center;
  margin: 5dvh 5dvh;
}
main .team .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3dvh;
}
main .team .grid-container .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
}
main .team .grid-container .card img {
  border-radius: 2dvh;
  filter: brightness(50%);
  transition: transform 1s;
}
main .team .grid-container .card img:hover {
  transform: rotate(2deg);
}
main .team .grid-container .card .card-name {
  font-size: 1.3rem;
  margin: 3dvh 3dvh;
}
main .team .grid-container .card .card-description {
  color: #F5F5F5;
  text-align: center;
  line-height: 2rem;
  font-family: "Poppins", serif;
  font-size: 1rem;
}
main .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  padding: 15dvh 5dvh;
  border-bottom: 1px solid #F5F5F5;
}
main .contact-container div {
  flex: 1;
}
main .contact-container .text {
  display: flex;
  flex-direction: column;
  position: relative;
}
main .contact-container .text img {
  display: none;
}
main .contact-container .text h2 {
  color: #F5F5F5;
  font-weight: 600;
  margin-bottom: 5dvh;
}
main .contact-container .text p {
  font-size: 1.3rem;
  color: #F5F5F5;
  line-height: 2rem;
}
main .contact-container .text div {
  position: absolute;
  left: -50dvh;
  top: 40dvh;
}
main .contact-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70%;
}
main .contact-container .form .name,
main .contact-container .form .email,
main .contact-container .form .message {
  display: flex;
}
main .contact-container .form .name p,
main .contact-container .form .email p,
main .contact-container .form .message p {
  margin-top: 2dvh;
  margin-right: 2dvh;
  color: #F5F5F5;
  text-align: center;
}
main .contact-container .form .name #text,
main .contact-container .form .name #email,
main .contact-container .form .name #msg,
main .contact-container .form .email #text,
main .contact-container .form .email #email,
main .contact-container .form .email #msg,
main .contact-container .form .message #text,
main .contact-container .form .message #email,
main .contact-container .form .message #msg {
  max-width: 30dvh;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #F5F5F5;
  color: #F5F5F5;
  font-family: "Poppins", serif;
}
main .contact-container .form .name #text,
main .contact-container .form .name #email,
main .contact-container .form .email #text,
main .contact-container .form .email #email,
main .contact-container .form .message #text,
main .contact-container .form .message #email {
  height: 10dvh;
}
main .contact-container .form .name #msg,
main .contact-container .form .email #msg,
main .contact-container .form .message #msg {
  height: 30dvh;
}
main .contact-container .form .send-msg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contact-container .form .send-msg-btn .submit-btn {
  margin-top: 3dvh;
  color: #F5F5F5;
  background-color: transparent;
  border: none;
  transition: color 0.8s, border-bottom 0.8s;
}
main .contact-container .form .send-msg-btn .submit-btn:hover {
  color: rgb(61, 158, 61);
  border-bottom: 2px solid rgb(61, 158, 61);
}
main .location h2 {
  text-align: center;
  margin: 5dvh 5dvh;
}

@media (width >= 1024px) {
  nav {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
}
@media (width >= 1024px) {
  main {
    padding: 1dvh 1dvh;
  }
}
@media (width >= 1024px) {
  .about {
    display: flex;
    flex-direction: row !important;
  }
}
@media (width >= 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .grid .card {
    display: flex;
    flex-direction: row !important;
  }
}
@media (width >= 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (width >= 1024px) {
  .contact-container {
    display: flex;
    flex-direction: row !important;
  }
  .contact-container .form {
    width: 100% !important;
  }
}
.whatsapp-btn {
  border-radius: 50%;
  position: fixed;
  right: 5dvh;
  bottom: 5dvh;
  z-index: 6;
  max-width: 5dvh;
  cursor: pointer;
  transition: transform 0.5s;
}
.whatsapp-btn img {
  width: 7dvh;
  transition: transform 0.4s;
}
.whatsapp-btn span {
  font-family: "Poppins", serif;
  visibility: hidden;
  color: #F5F5F5;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  left: -6dvh;
  top: -15dvh;
  padding: 1dvh;
  transition: opacity 0.5s;
  border-radius: 1dvh;
}

.whatsapp-btn:hover span {
  visibility: visible;
  opacity: 1;
}

.whatsapp-btn:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100%;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: #000000;
  position: relative;
  outline: none;
}

h1, h2 {
  font-family: "Roboto", serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #F5F5F5;
}

p {
  font-family: "Poppins", serif;
  font-size: 1rem;
  color: #F5F5F5;
}

button {
  font-family: "Poppins", serif;
  font-size: 1rem;
  color: #F5F5F5;
  cursor: pointer;
}

i {
  cursor: pointer;
  color: #F5F5F5;
  font-size: 1.3rem;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

@media (width <= 768px) {
  h1, h2 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */